  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body{
    font-family: 'Poppins', sans-serif;  

} */
li, a ,button{
    color: #2C2D3F;
    font-size: 14px;    
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
    text-transform: capitalize;  
    font-weight: 500;   
}
.dropdown_top{
    color: #2C2D3F;
    font-size: 14px;    
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
    text-transform: capitalize;  
    font-weight: 500; 
    border: none;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 5%;
    position: relative;
    font-family: 'Poppins', sans-serif;
    
        
}
.logo{
    cursor: pointer;
}
.nav_link{
    list-style: none;
}
.nav_link, li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_link, li, a{
    transition: all 0.3s ease 0s;
    
}
#nav_top2{
    font-family: 'Poppins', sans-serif;
}
#nav_top2 :hover{
    height: 100%;
    color:  #1A76D1;
}
.btn1:hover{
    background-color: rgb(6, 9, 9);
    transition: all 0.4s ease;
}
.btn1{
    padding: 15px 20px;
    border-radius: 5%;
    color: rgb(240, 240, 240);
    box-shadow: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.btn1{
    background-color: #1A76D1;    
}
.top_nav{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    border-bottom: 1px solid black;
    width: 100%;
}
.nav_top_link{
    font-size: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}
.nav_top_link ,li{
    text-decoration: none;
 
}
#nav_top :hover{
    color: #1A76D1;
}
.nav_top_contact{

    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
}

.image1{
    height: 100%;
    width: 100%;
    position: absolute;
}
.text_heading{
    position: absolute;
    width: 50%;
    height: 60%;
    margin-top: 10%;
    margin-left: 5%;
    font-family: inherit;
    font-family: 'Poppins', sans-serif; 
    text-transform: capitalize; 
    transform: translateY(0px);
    animation: textdown 4s linear infinite;
    
    
}
@keyframes textdown {
    10%{
        transform: translateY(-40px);
    }
    100%{
      transform: translateY(-40px);
    }
  }

h1{
    transition: all 0.4sec;
    color: rgba(0, 0, 0, 0.841);
    font-size: 38px;
    font-weight: bold;
    line-height: 48px;
    font-family: inherit;
    font-family: 'Poppins', sans-serif; 
    text-transform: capitalize; 

}


span{
    color:  #1A76D1;
    font-family: 'Poppins', sans-serif;
    font-family: inherit;

}
p{
    color: #2C2D3F;
    margin-top: 27px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: capitalize; 
    
}

.btn_section1{
    margin-top: 27px;
    font-family: 'Poppins', sans-serif;
    
}

.btn2:hover{
    background-color: #1A76D1;
    transition: all 0.4s ease;
}
.btn2{
    padding: 15px 20px;
    border-radius: 5%;
    color: rgb(240, 240, 240);
    box-shadow: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
}
.btn2{
    background-color: #0b0a0a;
}
.section3{
    display: flex;
    justify-content: space-around;
    height: 40%;
    width: 100%;
    position: absolute;
    margin-top: 38%;
    font-family: 'Poppins', sans-serif;
    
}
.section3_box{
    width: 25%;
    height: 100%;
    background-color: #1A76D1;
    border-radius: 2%;
    font-family: 'Poppins', sans-serif;
    
    
}
.section3 :hover{
    box-shadow: 0px 10px 15px #1A76D1 ;
  
  
}
@keyframes hover {
    10%{
        transform: translateY(-5px);
    }
    100%{
      transform: translateY(-5px);
    }
  }
.section3_box:hover{
    transform: translateY(0px);
    animation: hover 2s linear infinite;

}  

#text_section3{
    margin-top: 3%;
    margin-left: 4%;
    color: rgb(240, 240, 240);
    font-family: 'Poppins', sans-serif; 
    text-transform: capitalize; 
}
#section3_text{
    margin-left: 4%;
    color: rgb(240, 240, 240);
    font-family: 'Poppins', sans-serif; 
    text-transform: capitalize; 
}
.section4{
    height: 90%;
    width: 100%;
    position: absolute;
    margin-top: 65%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    

}
.section4_box1{
    font-size: 25px;
    width: 50%;
    text-align: center;
    font-family: inherit;
    
   
}
.section4_box2{
    margin-top: 15px;
    width: 50%;
    text-align: center;

    
}
.section4_box3{
    font-size: 15px;
    color: #888;
    width: 45%;
    text-align: center;
 
   
}
.section4_box4{
    margin-top: 50px;
    width:100%;

}
.section4_box4{
    display: flex;
    justify-content: space-evenly;
}
#section_box4_item1{
    text-align: center;
    width: 25%; 

}
#fa_solid{
    color: #1A76D1;
    padding: 6%;
    border-radius: 50%;
    border: 1px solid #888;
    margin-bottom: 5%;
}
#section_box4_item1:hover{
    #fa_solid{
        background-color: #1A76D1;
        color: white;
    }
    
}
p{
    color: #888;
}
.Section5{
    height: 45%;
    width: 100%;
    position: absolute;
    margin-top: 105%;
    background-image: url(fun-bg.jpg);
    background-size: cover;
    background-position: center;
    
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1A76D1;
    opacity: 80%; /* Dark overlay with transparency */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#font1_span{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  
}
#font1_p{
    color: white;
    font-size: 15px;
    margin-top: 5px;
    width: 100%;
    

}
.section6{
    height: 50%;
    width: 100%;
    position: absolute;
    margin-top: 130%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
.section6_box1{
    font-size: 25px;
    width: 50%;
    text-align: center;
}
.section6_box2{
    margin-top: 15px;
    width: 50%;
    text-align: center;
}
.section6_box3{
    font-size: 15px;
    color: #888;
    width: 45%;
    text-align: center;
   
}
.section7{
    height: 53%;
    width: 100%;
    margin-top: 155%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    
}
#fa_play{
    color:#1A76D1;
    margin-top: 7%;
}
.section7_box_left{
    height: 80vh;
    width: 40%;
}
.section7_box_right{
    width: 40%;
    height: 80vh;
    
}
.section7_bottom1{
    display: flex;
    justify-content: space-between;
    
}
.section7_box_right{
    height: 100%;
    width: 50%;

}
#image_section7{
    height: 100%;
    width: 100%;
}
.section8{
    width: 100%;
    height: 70%;
    position: absolute;
    margin-top: 190%;
    background-image: url(call-bg.jpg);
    background-size: cover;
}

.section8_overlay{
    height: 100%;
    width: 100%;
    background-color: #1A76D1;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
#section8_heading{
    font-size: 30px;
    width: 40%;
    text-align: center;
    color: white
}
#section8_paragraph{
    color: #fff;
    margin: 30px 0;
    font-size: 15px;
    text-align: center;
    width: 40%;
}
#section8_button1{
    background-color: #fff;
    padding: 13px 20px;
    border: none;
    color: #1A76D1;
    font-weight: bold;
    border-radius: 5%;
    cursor: pointer;
    margin-right: 10px;
}
#section8_button2{
    background-color: #1A76D1;
    padding: 12px 22px;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5%;
    border: 1px solid #fff;
    cursor: pointer;
    margin-left: 10px;
}
#section8_button1:hover{
    background-color: #1A76D1;
    color: #fff;
    border: 1px solid #fff;
}
#section8_button2:hover{
    background-color: #fff;
    color: #1A76D1;
    border: 1px solid #fff;
}
.section9{
    height: 50%;
    width: 100%;
    position: absolute;
    margin-top: 232%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.section10{
    margin-top: 255%;
    height: 40%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
}

 figure{
    position: relative;  
    width: 500%;
    margin: 0;
    left: 0;
    right: 0;
    animation: 10s slider infinite;
}
#image_slider10{
    position: relative;
    float: left;
    width: 5%;
    margin-left: 0.3%;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -25%;
    }
    45%{
        left: -40%;
    }
    50%{
        left: -40%;
    }
    70%{
        left: -70%;
    }
    75%{
        left: -70%;
    }
    95%{
        left: -90%;
    }
    100%{
        left: -100%;
    }


}
.section11{
    height: 50%;
    width: 100%;
    position: absolute;
    margin-top: 285%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.section12_box4{
    height: 70%;
    width: 100%;
    position: absolute;
    margin-top: 300%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.section12_icon{
    display: flex;

}
#section12_icon{
    color: #1A76D1;
    margin-right: 5%;
}
.section12_1main_boxes{
    display: flex;
    justify-content: space-around;
    
}
#section12_para{
    margin-left: 5%;
    
}
.section12_2main_boxes{
    display: flex;
    justify-content: space-around;
    
}
#section12_box4_item1{
    text-align: center;
    width: 30%; 
    
    
}
#section12_box4_item1:hover{
    color: #1A76D1;
    cursor: pointer;

}
.section13{
    height:140%;
    width: 100%;
    position: absolute;
    margin-top: 335%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
   
}
.section13_box1{
    
    font-size: 25px;
    width: 50%;
    text-align: center;
}
.section13_box2{
    
    margin-top: 15px;
    width: 50%;
    text-align: center;
}
.section13_box3{
    margin-bottom: 40%;
    font-size: 15px;
    color: #888;
    width: 45%;
    text-align: center;
   
}
.section14{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    margin-top: 362%;
    
}
.section14_box1{
    height: 100%;
    width: 25%;
    border: 1px solid #868686;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section14_logo{
    height: 30%;
    width: 100%;
    text-align: center;
    
}
#section14_heading1{
    font-size: 25px;
    color: #2C2D3F;
    margin-top: 30px;
    margin-bottom: 15px;
}
.amount{
    font-size: 32px;
    font-weight: 600;
    color: #1A76D1;
    margin-top: -12px;
}
#amount{  
    font-size: 14px;
    font-weight: 400;
    color: #868686;
    margin-left: 8px;
}
.section14_logo_content{
    height: 50%;
    
}
#list_section14{
    position: relative;
    color: #666;
    text-transform: capitalize;
    margin-top: 3px;
    margin-bottom: 15px;
    padding-right: 32%;
    font-family: inherit;
}
#section14_btn{
    background-color: #1A76D1;
    padding: 3% 25%;
    border-radius: 5%;
    margin-bottom: 15%;
    color: rgb(240, 240, 240);
    box-shadow: none;
    border: none;
    cursor: pointer;
}
#section14_btn:hover{
    background-color: #0b0a0a;
}
.section15{
    height:40%;
    width: 100%;
    position: absolute;
    margin-top: 410%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.section15_box1{
    
    font-size: 20px;
    width: 50%;
    text-align: center;
    font-family: inherit;
}
.section15_box2{
    
    margin-top: 15px;
    width: 50%;
    text-align: center;
}
.section15_box3{
    font-size: 15px;
    color: #888;
    width: 45%;
    text-align: center;
   
}
.section16{
    position: absolute;
    margin-top: 430%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section16_main{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.section16_top{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: start;
    margin-left: 3%;
   
}
.section16_image{
    height: 100%;
    width: 90%;
    
}
.section16_bottom{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: start;
    
    
    
}
.section16_box{
    border: 1px solid #ece6e6;
    height: 100%;
    width: 28.99%;
    margin-left: 3%;
}
#section16_btn{
    margin: 8% 0% 0% 5%;
    background: #1A76D1;
    color: #fff;
    padding: 6px 18px;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
}
#section16_heading{
    margin: 5% 0% 0% 5%;

}
.section17{
    height:40%;
    width: 100%;
    position: absolute;
    margin-top: 480%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.section18{
    margin-top: 505%;
    position: absolute;
    height: 90%;
    width: 100%;
    display: flex;

}
.section18_form{
    width: 50%;
    height: 100%;
    padding: 4%;
 

}
#form_element{
    padding: 3%;
    margin-left: 3%;
}
#form_element1{
    padding: 3%;
    margin-left: 7%;
}
#form_element2{
    padding: 3%;
    margin-left: 6%;
    width: 39%;
}
#form_element3{
    padding: 3%;
    width: 39%;
    margin-left: 3%;
}
#form_element4{
    width: 86%;
    height: 150px;
    margin-left: 3%;
    text-align: start;
    display: flex;
    align-items: start;
}
#form_element_btn{
    padding: 3% 6%;
    margin-left: 3%;
    background-color: #1A76D1;
    color: white;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    
}
#form_element_btn:hover{
    background-color: #0b0a0a;
}
.section18_image_item{
    height: 100%;
    width: 50%;
    
    
}
#section18_image{
    height: 98%;
    width: 100%;
}
.section19{
    margin-top: 547.5%;
    position: absolute;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    background: #EDF2FF;

}
.section19_main{
    height: 100%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.section19_left{
   text-align: start;
   width: 40%;
   height: 50%;
   font-family: 'Poppins', sans-serif;
}
.section19_right{
    text-align: start;
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
   
 }
 #section19_form_item{
    color: #333;
    box-shadow: none;
    text-shadow: none;   
    padding:11% 33%;   
    background: #fff;
    border: none;
    margin-left: 70%;
    font-family: 'Poppins', sans-serif;
 }
 #section19_form_btn{
    background-color: #1A76D1;
    margin-left: 37%;
    padding: 2.5% 4vw;
    ;
    background-color: #1A76D1;
    color: white;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

 }
 #section19_form_btn:hover{
    background-color: #0b0a0a;
    font-family: 'Poppins', sans-serif;
 }